table, td{
    border: 1px solid #fff;
}

td{
    width: 100px;
    height: 100px;
}

i{
    margin-left: 30px;
    width: 90%;
}
body{
    background: #1e1e1e;
}

h1, p{
    color: white;
    font-family: Montserrat;
}